@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root {
  font-family: 'Creepster', cursive;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: #c6e0e0;
  background: linear-gradient(to right, #000000, #434343);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 20px;
  min-height: 100vh;
}
